@model Resume.Areas.Admin.Models.CVModel_JobResp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CVModel_JobResp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVModel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobResponsibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobResponsibility.DescriptionEn)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
